<html>
  <head>
    <link rel='stylesheet'   type='text/css'   href='/stylesheets/style.css'  />
    </head>
    <body>

<nav>
      <a id='home-button' href='/'>HOME</a>

      <ol>
      <li><a href='/ask'>Ask a question</a></li>
      <li><a href='/add'>Add your own answer</a></li>
      <li><a href='/reset'>Reset</a></li>
      <li><a href='/exit'>Exit</a></li>
      </ol>
</nav>


<div class='eightballpic'>
<img src='/stylesheets/eightballpic.jpg' alt= 'Eight ball pic' />
</div>


    <%= yield %>
    </body>
  </html>
